cache/
outputs/
__pycache__/
seminarski/main.aux
seminarski/main.bbl
seminarski/main.blg
seminarski/main.fdb_latexmk
seminarski/main.fls
seminarski/main.lof
seminarski/main.log
seminarski/main.lol
seminarski/main.lot
seminarski/main.out
seminarski/main.toc
seminarski/main.xdv
seminarski/main.synctex.gz
_minted-main
main.pdf
scripts/output.log
bkp/
