cache/
outputs/
__pycache__/
seminarski/main.aux
seminarski/main.bbl
seminarski/main.blg
seminarski/main.fdb_latexmk
seminarski/main.fls
seminarski/main.lof
seminarski/main.log
seminarski/main.lol
seminarski/main.lot
seminarski/main.out
seminarski/main.toc
seminarski/main.xdv
seminarski/main.synctex.gz
_minted-main
main.pdf
scripts/output.log
bkp/
scripts/train_and_export copy.py
scripts/train_and_export copy 2.py
scripts/out/
seminarski/.vscode/settings.bkp.json
seminarski/.vscode/settings.json
scripts/all_results.json
scripts/.prettierrc
seminarski/prezentacija.pdf
